/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --color-primary: #0c3a5e;
  --color-secondary: #efdfbe;
  --color-primary-black: #151614;
  --color-primary-dark: #292929;
  --color-white: #fff;
  --color-yellow: #ffb900;
  --color-gray: #b5b5b5;
  --color-gray-p: #696969;
  --color-bg: rgba(35, 52, 98, 0.1);
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("../../css/fonts/TT-first/TT Firs Neue Trial Regular.ttf");
}
@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-Bold.eot");
  src: local("Euclid Square Bold"), local("EuclidSquare-Bold"), url("../../css/fonts/Euclid-Square/EuclidSquare-Bold.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/Euclid-Square/EuclidSquare-Bold.woff2") format("woff2"), url("../../css/fonts/Euclid-Square/EuclidSquare-Bold.woff") format("woff"), url("../../css/fonts/Euclid-Square/EuclidSquare-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-Regular.eot");
  src: local("Euclid Square Regular"), local("EuclidSquare-Regular"), url("../../css/fonts/Euclid-Square/EuclidSquare-Regular.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/Euclid-Square/EuclidSquare-Regular.woff2") format("woff2"), url("../../css/fonts/Euclid-Square/EuclidSquare-Regular.woff") format("woff"), url("../../css/fonts/Euclid-Square/EuclidSquare-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBold.eot");
  src: local("Euclid Square SemiBold"), local("EuclidSquare-SemiBold"), url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBold.woff2") format("woff2"), url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBold.woff") format("woff"), url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-LightItalic.eot");
  src: local("Euclid Square Light Italic"), local("EuclidSquare-LightItalic"), url("../../css/fonts/Euclid-Square/EuclidSquare-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/Euclid-Square/EuclidSquare-LightItalic.woff2") format("woff2"), url("../../css/fonts/Euclid-Square/EuclidSquare-LightItalic.woff") format("woff"), url("../../css/fonts/Euclid-Square/EuclidSquare-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-MediumItalic.eot");
  src: local("Euclid Square Medium Italic"), local("EuclidSquare-MediumItalic"), url("../../css/fonts/Euclid-Square/EuclidSquare-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/Euclid-Square/EuclidSquare-MediumItalic.woff2") format("woff2"), url("../../css/fonts/Euclid-Square/EuclidSquare-MediumItalic.woff") format("woff"), url("../../css/fonts/Euclid-Square/EuclidSquare-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-Medium.eot");
  src: local("Euclid Square Medium"), local("EuclidSquare-Medium"), url("../../css/fonts/Euclid-Square/EuclidSquare-Medium.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/Euclid-Square/EuclidSquare-Medium.woff2") format("woff2"), url("../../css/fonts/Euclid-Square/EuclidSquare-Medium.woff") format("woff"), url("../../css/fonts/Euclid-Square/EuclidSquare-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-Italic.eot");
  src: local("Euclid Square Italic"), local("EuclidSquare-Italic"), url("../../css/fonts/Euclid-Square/EuclidSquare-Italic.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/Euclid-Square/EuclidSquare-Italic.woff2") format("woff2"), url("../../css/fonts/Euclid-Square/EuclidSquare-Italic.woff") format("woff"), url("../../css/fonts/Euclid-Square/EuclidSquare-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-Light.eot");
  src: local("Euclid Square Light"), local("EuclidSquare-Light"), url("../../css/fonts/Euclid-Square/EuclidSquare-Light.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/Euclid-Square/EuclidSquare-Light.woff2") format("woff2"), url("../../css/fonts/Euclid-Square/EuclidSquare-Light.woff") format("woff"), url("../../css/fonts/Euclid-Square/EuclidSquare-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBoldItalic.eot");
  src: local("Euclid Square SemiBold Italic"), local("EuclidSquare-SemiBoldItalic"), url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBoldItalic.woff2") format("woff2"), url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBoldItalic.woff") format("woff"), url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-BoldItalic.eot");
  src: local("Euclid Square Bold Italic"), local("EuclidSquare-BoldItalic"), url("../../css/fonts/Euclid-Square/EuclidSquare-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/Euclid-Square/EuclidSquare-BoldItalic.woff2") format("woff2"), url("../../css/fonts/Euclid-Square/EuclidSquare-BoldItalic.woff") format("woff"), url("../../css/fonts/Euclid-Square/EuclidSquare-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  font-weight: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s all;
  cursor: pointer;
  user-select: none;
  font-size: 0.9rem;
}

:root {
  font-size: 20px;
}
@media (max-width: 1800.98px) {
  :root {
    font-size: 19px;
  }
}
@media (max-width: 1700.98px) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 1600.98px) {
  :root {
    font-size: 17px;
  }
}
@media (max-width: 1500.98px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1400.98px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 1300.98px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 1200.98px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 1100.98px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 1000.98px) {
  :root {
    font-size: 11px;
  }
}
@media (max-width: 900.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 389.98px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 375.98px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 345.98px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 330.98px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 320.98px) {
  :root {
    font-size: 11px;
  }
}
@media (max-width: 300.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  :root {
    font-size: 8.5px;
  }
}
@media (max-width: 700px) and (orientation: landscape) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 767.98px) and (max-width: 1080px) and (orientation: portrait) {
  :root {
    font-size: 17px;
  }
}
body {
  font-size: 0.9rem;
  box-sizing: border-box;
  font-family: "TT Firs Neue";
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: #f4f4f4;
}

.container {
  margin: 0 auto;
  max-width: 76.5rem;
  width: 100%;
}
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

.text_sm {
  font-size: 0.7rem;
  color: var(--color-gray);
}

.font_semibold {
  font-weight: 600;
}
.font_medium {
  font-weight: 500;
}
.font_normal {
  font-weight: 400;
}
.font_light {
  font-weight: 300;
}

.section__title {
  color: var(--color-primary);
  font-family: "TT Firs Neue";
  font-size: 1.8rem;
  font-weight: 600;
}

.section__title_big {
  color: var(--color-primary);
  font-size: 3.6rem;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .section__title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.btn {
  border-radius: 2.5rem;
  transition: all 0.3s;
  padding: 0.75rem 3rem;
}
.btn_primary {
  font-family: Gilroy;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-primary);
}
.btn_primary:hover {
  background-color: transparent;
  color: var(--color-primary);
}
.btn_line {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn_line:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn_blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
}
.btn_blur:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn_mobile-nav {
  background-color: var(--color-white);
  color: var(--color-primary);
  font-size: 1.2rem;
  padding: 1.2rem 0;
  font-weight: 500;
  width: 100%;
}
.btn_yellow {
  background-color: var(--color-yellow);
  color: var(--color-white);
  border: 1px solid var(--color-yellow);
}
.btn_yellow:hover {
  background-color: transparent;
  border-color: var(--color-yellow);
  color: var(--color-yellow);
}
.btn_100 {
  padding: 0.75rem 0;
}
.btn_yellow-carousel {
  border-radius: 50%;
  border: 1px solid var(--color-yellow);
}
.btn_yellow-carousel i {
  color: var(--color-yellow);
}
.btn_yellow-carousel:hover {
  background-color: var(--color-yellow);
}
.btn_yellow-carousel:hover i {
  color: var(--color-white);
}

.cards__wrapper_4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

input[type=radio] {
  width: 1.2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-white);
  appearance: none;
  position: relative;
  border: 1px solid var(--color-primary);
}
input[type=radio]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 50%;
  aspect-ratio: 1/1;
  background-color: var(--color-primary);
  box-sizing: border-box;
  display: none;
}
input[type=radio]:checked::before {
  display: block;
}

.socials {
  display: flex;
  gap: 1rem;
}
.socials a {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.socials a i {
  transition: all 0.3s;
  font-size: 1.2rem;
  color: var(--color-primary);
}
.socials a:hover {
  background-color: var(--color-yellow);
}
.socials a:hover i {
  color: var(--color-white);
}

@keyframes pulse-white {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(203, 52, 43, 0);
    box-shadow: 0 0 0 10px rgba(203, 52, 43, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(203, 52, 43, 0);
    box-shadow: 0 0 0 0 rgba(203, 52, 43, 0);
  }
}
.corner-call-btn {
  position: fixed;
  z-index: 20;
  height: 3.7rem;
  width: 3.7rem;
  background-color: #000;
  border-radius: 50%;
  right: 2.25rem;
  bottom: 4.85rem;
  transition: all 0.3s;
  -webkit-animation: pulse-white 2s infinite;
  animation: pulse-white 2s infinite;
}
.corner-call-btn::before {
  position: absolute;
  content: "";
  height: 120%;
  width: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  opacity: 0.1;
  border-radius: 50%;
}
.corner-call-btn::after {
  position: absolute;
  content: "";
  height: 140%;
  width: 140%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  opacity: 0.1;
  border-radius: 50%;
}
.corner-call-btn img {
  height: 55%;
}
.corner-call-btn:hover {
  transform: scale(1.1);
}

.border-r30 {
  border-radius: 1.5rem;
}

.hoverable {
  overflow: hidden;
  position: relative;
  border-radius: 1.5rem;
}
.hoverable img {
  transition: all 0.3s;
}
.hoverable:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .cards__wrapper_4 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .corner-call-btn {
    height: 3rem;
    width: 3rem;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}
.mobile-nav {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  display: none;
}
@media (min-width: 768px) {
  .mobile-nav {
    visibility: hidden;
  }
}
.mobile-nav__wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  padding: 2.2rem 1.1rem 4rem 1.1rem;
  position: relative;
  border-radius: 0 0 1.5rem 1.5rem;
  display: none;
}
.mobile-nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav__top .language__open {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.mobile-nav__top .language__body {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.mobile-nav__bottom {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.mobile-nav__close {
  border: 1px solid #e5e5e5;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: relative;
  display: none;
}
.mobile-nav__close .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mobile-nav__close .icon svg {
  height: 30%;
}
.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 5rem 0 3.6rem 0;
}
.mobile-nav__list li {
  width: 100%;
}
.mobile-nav__list__link {
  min-height: 3.5rem;
  display: inline-block;
  width: 60%;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s;
}
.mobile-nav__list__link:hover {
  color: var(--color-yellow);
}
.mobile-nav__list__link.active {
  padding: 0.9rem 0;
  width: 100%;
  font-size: 2.8rem;
  color: var(--color-yellow);
}
.mobile-nav__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.mobile-nav__actions .btn_primary {
  height: 2.5rem;
  padding: 0 1.5rem;
}
.mobile-nav__actions .btn_primary i {
  margin-right: 0.5rem;
}
.mobile-nav .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
}
.popup .overlay {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  background-color: hsla(206, 77%, 21%, 0.76);
}
.popup.successful .popup__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}
.popup.successful .popup__bottom p {
  text-align: center;
  font-family: Montserrat;
  font-size: 0.8rem;
  line-height: 0.9rem; /* 128.571% */
  width: 80%;
}
.popup.successful .popup-icon {
  background-color: #f6f6f6;
  width: 12.7rem;
  height: 9.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5.75rem;
}
.popup.successful .popup-icon i {
  font-size: 5rem;
  color: var(--color-primary);
}
.popup__close {
  background-color: var(--color-white);
  position: absolute;
  top: -3.7rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.popup__close svg {
  width: 1rem;
}
.popup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  max-width: 23.4rem;
  width: 100%;
  height: 28rem;
}
.popup__wrapper::after {
  content: "";
  position: absolute;
  height: 5%;
  bottom: 0;
  width: 100%;
  z-index: -7;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--color-primary);
}
.popup__content {
  width: 100%;
  height: 99%;
  background-color: var(--color-white);
  padding: 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  z-index: 1;
}
.popup__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.popup__top h3 {
  color: var(--color-primary);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.popup__top p {
  color: #424242;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.popup__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.popup__form input {
  height: 3.5rem;
  width: 100%;
  border-radius: 5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 0.05rem solid #4d4d4d;
  text-align: center;
  color: var(--color-primary);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  transition: all 0.3s;
}
.popup__form input:focus {
  border-color: var(--color-primary);
}
.popup__form input[type=number]::-webkit-outer-spin-button, .popup__form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup__form button {
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 5rem;
}
.popup__form p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.9rem; /* 128.571% */
  width: 80%;
}

@media (max-width: 768px) {
  .popup__wrapper {
    top: 100%;
    transform: translate(-50%, -100%);
    max-width: 100%;
    height: 29rem;
  }
}
.language {
  position: relative;
  color: var(--color-white);
}
.language__icon {
  height: 1.6rem;
  width: 1.6rem;
}
.language button {
  height: 2.6rem;
  font-size: 0.8rem;
  width: 4.35rem;
  position: relative;
  border-radius: 2.5rem;
  z-index: 6;
  border: 1px solid #e5e5e5;
  background-color: var(--color-white);
  color: black;
}
.language__body {
  color: black;
  position: absolute;
  border: 1px solid #e5e5e5;
  background-color: var(--color-white);
  top: 58%;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 0;
  border-radius: 0 0 1.5rem 1.5rem;
  overflow: hidden;
  display: none;
}
.language__body li {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.language__body li:hover {
  background-color: var(--color-gray);
}

.carousel__products {
  position: relative;
  height: fit-content;
  margin-top: 2rem;
}
.carousel__products .carousel__controls {
  display: none;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.carousel__news {
  position: relative;
  height: fit-content;
}
.carousel__news .carousel__controls {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1.5rem;
}
.carousel__controls {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  bottom: 0.5rem;
  right: 0;
  z-index: 2;
}
.carousel__controls button {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__controls button i {
  font-size: 0.7rem;
  line-height: 100%;
}

@media (max-width: 768px) {
  .carousel__products .carousel__controls {
    display: flex;
  }
  .carousel__news .carousel__controls {
    justify-content: center;
  }
}
.product-card {
  height: 23rem !important;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--color-white);
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s;
}
.product-card__img {
  height: 15rem;
  position: relative;
  overflow: hidden;
}
.product-card__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 0.3s;
}
.product-card__info {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.product-card__info h4 {
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}
.product-card__info__bottom {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card__info__bottom p {
  font-size: 0.8rem;
  font-weight: 500;
}
.product-card__info__bottom ul {
  display: flex;
  gap: 0.5rem;
}
.product-card__info__bottom ul li {
  height: 1rem;
  width: 1rem;
}
.product-card__info__bottom ul li:nth-child(1) {
  background-color: #463620;
}
.product-card__info__bottom ul li:nth-child(2) {
  background-color: #9d7436;
}
.product-card__info__bottom ul li:nth-child(3) {
  background-color: #bbb5b5;
}
.product-card:hover {
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.1);
}
.product-card:hover .product-card__img {
  height: 15rem;
  position: relative;
}
.product-card:hover .product-card__img img {
  transform: scale(1.1);
}

.grid {
  margin-top: 0.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;
}
.grid .block {
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e2e2;
  transition: all 0.3s;
}
.grid .block img {
  position: absolute;
  max-height: 60%;
  max-width: 70%;
}
.grid .block-7, .grid .block-8, .grid .block-9, .grid .block-10, .grid .block-11 {
  grid-row: 2/span 1;
  border-top: none;
}
.grid .block-12, .grid .block-13, .grid .block-14, .grid .block-15 {
  grid-row: 3/span 1;
  border-top: none;
}
.grid .block-1, .grid .block-7, .grid .block-12 {
  border-left: none;
}
.grid .block-6, .grid .block-11, .grid .block-15 {
  border-right: none;
}
.grid .block-1 {
  grid-column: 1/span 2;
}
.grid .block-2, .grid .block-12 {
  grid-column: 3/span 2;
}
.grid .block-3, .grid .block-13 {
  grid-column: 5/span 2;
}
.grid .block-4, .grid .block-14 {
  grid-column: 7/span 2;
}
.grid .block-5, .grid .block-15 {
  grid-column: 9/span 2;
}
.grid .block-6 {
  grid-column: 11/span 2;
}
.grid .block-7 {
  grid-column: 2/span 2;
}
.grid .block-8 {
  grid-column: 4/span 2;
}
.grid .block-9 {
  grid-column: 6/span 2;
}
.grid .block-10 {
  grid-column: 8/span 2;
}
.grid .block-11 {
  grid-column: 10/span 2;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: auto auto;
    grid-template-rows: none;
    border-top: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
  }
  .grid .block {
    border: none;
  }
  .grid .block:nth-child(2n+1) {
    grid-column: 1/span 1;
    grid-row: auto;
    border-right: 2px solid #e2e2e2;
  }
  .grid .block:not(.grid .block:nth-child(1), .grid .block:nth-child(2)) {
    border-top: 2px solid #e2e2e2;
  }
  .grid .block:nth-child(2n) {
    grid-row: auto;
    grid-column: 2/span 1;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 0.75rem;
}
.pagination a {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  color: #b5b5b5;
  transition: all 0.3s;
}
.pagination a i {
  font-size: 0.5rem;
  color: var(--color-primary);
}
.pagination a.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.pagination a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.pagination a:hover i {
  color: var(--color-white);
}

@media (max-width: 768px) {
  .pagination {
    gap: 0.5rem;
  }
  .pagination a {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.news-card {
  height: 21rem !important;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--color-white);
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s;
}
.news-card__img {
  height: 12.25rem;
  position: relative;
  overflow: hidden;
}
.news-card__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 0.3s;
}
.news-card__info {
  padding: 1rem 1rem 2.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.news-card__info p {
  color: #bbb;
  font-weight: 400;
}
.news-card__info h4 {
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}
.news-card:hover {
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.1);
}
.news-card:hover .news-card__img {
  position: relative;
}
.news-card:hover .news-card__img img {
  transform: scale(1.1);
}

.news-card_mini {
  height: 11.55rem;
  background-color: var(--color-white);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
}
.news-card_mini p {
  color: #ababab;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.news-card_mini h3 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}
.news-card_mini a {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.news-card_mini a i {
  font-size: 0.8rem;
}
.news-card_mini a:hover {
  background-color: var(--color-primary);
}
.news-card_mini a:hover i {
  color: var(--color-white);
}

.navigator {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 2.5rem;
  border: 1px solid #ebeff5;
}
.navigator__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 100%;
  padding: 0.5rem 1rem;
  gap: 0.3rem;
}
.navigator__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  color: var(--color-gray);
}
.navigator__list li i {
  font-size: 0.5rem;
}
.navigator__list li.last {
  color: var(--color-black);
}
.navigator .btn {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigator .btn:first-child {
  width: 7rem;
  padding: 0.6rem 0;
  border-radius: 2.5remrem;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 100%;
}
.navigator .btn:last-child {
  height: 2rem;
  padding: 0;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: none;
}

@media (max-width: 768px) {
  .navigator .btn:first-child {
    display: none;
  }
  .navigator .btn:last-child {
    display: flex;
  }
}
.filter {
  background-color: var(--color-white);
  padding: 1.25rem;
  border-radius: 1.5rem;
  width: 100%;
}
.filter h3 {
  color: #2a2a2a;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.filter__title {
  color: #191919;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 1.5rem;
}
.filter-dropdown {
  margin-top: 0.5rem;
}
.filter-dropdown button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 100%;
  padding: 0.5rem 0;
}
.filter-dropdown button i {
  transition: all 0.3s;
}
.filter-dropdown__body {
  display: none;
}
.filter-dropdown__body li {
  width: 100%;
  padding: 0.5em 0;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.filter-dropdown__body li label {
  width: 100%;
}
.filter-dropdown__body li i {
  color: var(--color-yellow);
}
.filter-dropdown__body li > i {
  content: "";
  position: absolute;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: var(--color-gray);
}
.filter-dropdown__body input[type=radio] {
  margin-right: 0.8rem;
}
.filter-dropdown.active .filter-dropdown__body {
  display: block;
}
.filter-dropdown.active button i {
  transform: rotate(180deg);
}
.filter__search-input {
  padding: 1rem 1rem 1rem 2.5rem;
  border-radius: 0.75rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 100%;
  color: var(--color-gray);
}
.filter__price-input {
  padding: 0.6rem 0.7rem;
}
.filter .btn {
  width: 100%;
  height: 3.1rem;
  margin-top: 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 100%;
}
.filter .btn i {
  margin-right: 0.5rem;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-prices {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.filter-prices .price-input {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.filter-prices .filter__price-input {
  width: 50%;
  border: none;
  background-color: #f4f4f4;
  border-radius: 2.5rem;
  color: var(--color-primary);
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: -0.14px;
  text-align: center;
}
.filter-prices__slider {
  margin-top: 1.5rem;
  z-index: 3;
  width: 100%;
  height: 0.25rem;
  border-radius: 5px;
  background-color: var(--color-border-gray);
  position: relative;
}
.filter-prices__slider__progress {
  height: 0.25rem;
  position: absolute;
  left: 25%;
  right: 25%;
  background-color: var(--color-primary);
}
.filter-prices .range-input {
  height: 5px;
  position: relative;
  z-index: 5;
  width: 100%;
}
.filter-prices .range-input input {
  position: absolute;
  width: 100%;
  top: -0.25rem;
  height: 0.25rem;
  background: none;
  pointer-events: none;
  --webkit-appearance: none;
}
.filter-prices .range-input input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  aspect-ratio: 1/1;
  pointer-events: auto;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 0.05rem solid var(--color-primary);
}
.filter-prices .range-input input::-moz-range-thumb {
  -moz-appearance: none;
  height: 1rem;
  aspect-ratio: 1/1;
  pointer-events: auto;
  border-radius: 50%;
  background-color: var(--color-white);
}

.mobile-filter {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-white);
  z-index: 30;
  display: none;
}
.mobile-filter .filter {
  background-color: none;
  padding: 0;
}
.mobile-filter .filter h3 {
  margin-top: 2rem;
}
.mobile-filter__wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  padding: 1rem 1rem;
}
.mobile-filter__top {
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.75rem;
}
.mobile-filter__top button {
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: 2px solid #e5e5e5;
}
.mobile-filter__top h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
  color: var(--color-primary);
}
.mobile-filter__body {
  overflow-y: scroll;
}
.mobile-filter__body::-webkit-scrollbar {
  display: none;
}

@media (min-width: 769px) {
  .mobile-filter {
    visibility: hidden;
  }
}
.header {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__wrapper .btn_yellow {
  height: 2.6rem;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 101%; /* 18.18px */
}
.header__logo {
  height: 2.5rem;
  transition: all 0.3s;
}
.header__logo img {
  height: 100%;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-left: 3rem;
}
.header__navigation__link {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 101%; /* 16.16px */
  transition: all 0.3s;
}
.header__navigation__link:hover, .header__navigation__link.active {
  color: var(--color-primary);
}
.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.header__actions .call-form__open {
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 0.9rem;
  border: 1px solid #e5e5e5;
  border-radius: 2.5rem;
}
.header__actions .call-form__open i {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.header__mobile__btns {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.header__mobile__btn {
  border: 1px solid #e5e5e5;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__mobile__btn .icon {
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__mobile__btn .icon svg {
  max-width: 90%;
  transition: all 0.3s;
}
.header__mobile__btn:hover {
  background-color: var(--color-primary);
}
.header__mobile__btn:hover .icon svg {
  fill: var(--color-white);
}
.header.header__scrolled {
  height: 4rem;
  background-color: var(--color-white);
  box-shadow: 0 -50px 70px 10px var(--color-gray);
  margin-top: 0;
}

@media (max-width: 768px) {
  .header {
    margin-top: 0;
  }
  .header__actions {
    display: none;
  }
  .header__logo {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header__navigation {
    display: none;
  }
  .header__mobile__btns {
    display: flex;
  }
}
.footer {
  margin-top: 5rem;
  overflow: hidden;
  color: var(--color-white);
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1.5rem;
  overflow: hidden;
}
.footer__logo {
  height: 2rem;
}
.footer__address h4 {
  color: var(--color-yellow);
  margin-bottom: 0.75rem;
}
.footer__address p {
  margin-bottom: 1.5rem;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__nav__link {
  font-size: 400;
  transition: all 0.3s;
}
.footer__nav__link.active {
  color: var(--color-yellow);
}
.footer__nav__link:hover {
  color: var(--color-yellow);
}
.footer__left {
  padding: 2.5rem;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}
.footer__left__wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  margin-top: 2.5rem;
}
.footer__left__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left__bottom .up {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.footer__left__bottom .up a {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  position: relative;
  background-color: var(--color-yellow);
}
.footer__left__bottom .up a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
  line-height: 100%;
}
.footer__left__bottom .up span {
  font-size: 0.8rem;
  font-weight: 200;
}
.footer__right {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.footer__right > div {
  height: 100%;
}
.footer__right iframe {
  height: 100%;
  width: 100%;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 1.5rem 0;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 4rem;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__logo {
    height: 4rem;
  }
  .footer__left {
    padding: 1.5rem;
  }
  .footer__left__bottom {
    margin-top: 1rem;
  }
  .footer__right {
    height: 24rem;
  }
}
@media (max-width: 540px) {
  .footer__left__wrapper {
    grid-template-columns: 1fr;
  }
}
.head {
  margin-top: 8rem;
}
.head__wrapper {
  height: 32.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.head__wrapper .swiper {
  height: 100%;
}
.head .swiper-pagination-bullet {
  background-color: #eaeaea;
  opacity: 0.2;
}
.head .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--color-white);
}
.head__item {
  position: relative;
}
.head__item_info {
  height: 100%;
  padding: 8.3rem 30rem 8.3rem 5rem;
  color: var(--color-white);
}
.head__item_info h2 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 133.333% */
}
.head__item_info p {
  margin-top: 1.5rem;
  color: #fff;
  font-weight: 400;
  line-height: 150%; /* 27px */
  width: 80%;
}
.head__item_info .btn_primary:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-color: transparent;
  color: var(--color-white);
}
.head__item_bg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.head__item_bg img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.head__buttons {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
}
.head_bg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  top: 0;
  width: 100%;
}

.advantages {
  margin-top: 5rem;
}
.advantages__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.advantages__item {
  height: 6.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}
.advantages__item img {
  width: 4rem;
  aspect-ratio: 1/1;
}
.advantages__item p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 150%; /* 33px */
  width: 70%;
}
.advantages__item:not(.advantages__item:last-child) {
  border-right: 1px solid var(--color-primary);
}

.categories {
  margin-top: 6rem;
}
.categories__wrapper {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.categories .category-item {
  height: 13rem;
  background-color: var(--color-white);
  width: 33%;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.categories .category-item h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
.categories .category-item p {
  margin-top: 0.75rem;
  color: var(--color-gray);
  font-weight: 400;
}
.categories .category-item a {
  color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.categories .category-item a i {
  font-size: 0.8rem;
  color: var(--color-primary);
}
.categories .category-item a:hover {
  color: var(--color-yellow);
}
.categories .category-item a:hover i {
  color: var(--color-yellow);
}
.categories .category-item img {
  position: absolute;
  height: 60%;
  bottom: 0;
  right: 0;
}
.categories .category-item:hover {
  background-color: var(--color-primary);
}
.categories .category-item:hover h3 {
  color: var(--color-white);
}
.categories .category-item:hover a i {
  color: var(--color-gray);
}

.popular {
  margin-top: 5rem;
}
.popular__wrapper {
  margin-top: 1rem;
}

.new-items {
  margin-top: 5rem;
}
.new-items__wrapper {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.new-items__item {
  height: 16.9rem;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
}
.new-items__item:hover .new-items__item_image img {
  transform: scale(1.1);
}
.new-items__item:nth-child(4) {
  grid-column: 1/span 2;
}
.new-items__item_info {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: relative;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  color: var(--color-white);
  padding: 1.5rem 1.75rem;
}
.new-items__item_info h4 {
  font-size: 1.4rem;
  font-weight: 500;
}
.new-items__item_info p {
  margin-top: 0.75rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.new-items__item_image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.new-items__item_image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 0.3s;
}

.products {
  margin-top: 5rem;
}
.products__wrapper {
  margin-top: 1.5rem;
}
.products .show-more__wrapper {
  margin-top: 3rem;
  text-align: center;
}

.catalog {
  margin-top: 7rem;
  color: var(--color-white);
}
.catalog__wrapper {
  background-color: var(--color-primary);
  padding: 2.25rem 2.25rem 3rem 2.25rem;
  border-radius: 1.5rem;
  display: flex;
  position: relative;
}
.catalog__form {
  position: relative;
  width: 60%;
  z-index: 1;
}
.catalog__form h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.catalog__form form {
  margin-top: 2.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.catalog__form form input,
.catalog__form form button {
  height: 3rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 160.2%;
}
.catalog__form form input {
  padding: 0 1.5rem;
  background-color: transparent;
  border-radius: 2.5rem;
  border: 1px solid #3b719b;
  outline: none;
  color: var(--color-white);
}
.catalog__form form input:focus {
  border-color: var(--color-yellow);
}
.catalog__form form p {
  margin-top: 1.2rem;
  color: rgba(255, 255, 255, 0.45);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 160.2%; /* 22.428px */
  grid-column: 1/span 3;
}
.catalog__image {
  position: absolute;
  height: 130%;
  right: -2rem;
  bottom: -1rem;
}
.catalog__image img {
  height: 100%;
}

.about-us {
  margin-top: 5rem;
}
.about-us__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 5rem;
}
.about-us__wrapper:nth-child(2) {
  flex-direction: row-reverse;
}
.about-us__wrapper:nth-child(2) .about-us__info {
  padding: 0 0 0 2.5rem;
}
.about-us__info {
  width: 50%;
  padding: 0 2.5rem 0 0;
}
.about-us__info h5 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 150%; /* 33px */
  margin-bottom: 0.75rem;
}
.about-us__info p {
  color: var(--color-gray-p);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4rem; /* 140% */
  margin: 1.5rem 0 2.25rem 0;
}
.about-us__img {
  width: 50%;
  height: 25.75rem;
  position: relative;
}
.about-us__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.about-us__buttons {
  display: flex;
  gap: 1.5rem;
}
.about-us__buttons button {
  padding: 1rem 3rem;
  font-size: 0.9rem;
}

.news-section {
  margin-top: 5rem;
}
.news-section__wrapper {
  padding-top: 1rem;
}

.partners {
  margin-top: 3rem;
}
.partners__wrapper {
  margin-top: 3rem;
}
.partners__item {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.partners__item img {
  max-width: 80%;
  max-height: 98%;
}
.partners__item:hover {
  background-color: var(--color-primary);
}

.section-navigator {
  margin-top: 8rem;
}

@media (max-width: 768px) {
  .head {
    margin-top: 6rem;
  }
  .head__wrapper {
    height: 35.2rem;
  }
  .head__item_info {
    padding: 1rem 1rem 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .head__item_info h2 {
    font-size: 1.5rem;
  }
  .head__item_info p {
    font-size: 0.8rem;
    margin-top: 1rem;
    width: 85%;
  }
  .head__buttons {
    gap: 1rem;
  }
  .head__buttons button {
    width: 50%;
    padding: 0.8rem 0;
  }
  .head_bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    bottom: 0;
    width: 100%;
  }
  .advantages {
    margin-top: 4rem;
  }
  .advantages__wrapper {
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
  }
  .advantages__item p {
    font-size: 0.9rem;
    max-width: 80%;
    width: 100%;
  }
  .advantages__item:not(.advantages__item:last-child) {
    border-right: none;
  }
  .advantages__item:nth-child(2n) {
    border-left: 1px solid var(--color-primary);
  }
  .categories {
    margin-top: 4rem;
  }
  .categories__wrapper {
    margin-top: 2rem;
    flex-direction: column;
  }
  .categories .category-item {
    width: 100%;
    padding: 1.5rem;
  }
  .popular {
    overflow: hidden;
  }
  .popular__wrapper .swiper {
    overflow: visible;
  }
  .new-items {
    margin-top: 3rem;
  }
  .new-items__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .new-items__item {
    height: 12rem;
  }
  .new-items__item:nth-child(1) {
    grid-column: 1/span 2;
  }
  .new-items__item:nth-child(4) {
    grid-column: 1/span 1;
  }
  .new-items__item_info {
    padding: 0.75rem;
  }
  .new-items__item_info h4 {
    font-size: 1.1rem;
  }
  .catalog {
    margin-top: 3rem;
  }
  .catalog__wrapper {
    padding: 1.5rem;
    flex-direction: column;
    gap: 2.5rem;
  }
  .catalog__form {
    width: 100%;
  }
  .catalog__form h3 {
    font-size: 1.5rem;
  }
  .catalog__form form {
    grid-template-columns: 1fr;
  }
  .catalog__form form p {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  .catalog__image {
    position: static;
    width: 100%;
  }
  .catalog__image img {
    width: 100%;
    transform: scale(1.15);
  }
  .about-us {
    margin-top: 3rem;
  }
  .about-us__wrapper {
    flex-direction: column;
    margin-bottom: 2.5rem;
  }
  .about-us__wrapper .about-us__info {
    padding: 0;
  }
  .about-us__wrapper:nth-child(2) {
    flex-direction: column;
  }
  .about-us__wrapper:nth-child(2) .about-us__info {
    padding: 0;
  }
  .about-us__info {
    width: 100%;
  }
  .about-us__info h5 {
    margin-bottom: 0.5rem;
  }
  .about-us__img {
    height: 25rem;
    width: 100%;
  }
  .about-us__buttons {
    width: 100%;
    gap: 1rem;
  }
  .about-us__buttons button {
    width: 50%;
  }
  .news-section {
    margin-top: 4rem;
    overflow: hidden;
  }
  .news-section__wrapper .swiper {
    overflow: visible;
  }
  .section-navigator {
    margin-top: 6rem;
  }
}
.statistic__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.statistic-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 5.8rem;
  gap: 0.2rem;
  position: relative;
}
.statistic-item:not(.statistic-item:last-child)::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  right: 0;
  background: linear-gradient(180deg, #0c3a5e 0%, #fff 100%);
}
.statistic-item h2 {
  color: var(--color-primary);
  font-size: 3.25rem;
  font-weight: 500;
}
.statistic-item h2 span {
  font-size: 1.2rem;
}
.statistic-item p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 148.048%; /* 29.61px */
  text-transform: uppercase;
}

.about-big {
  margin: 5rem 0;
}
.about-big__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.about-big__img {
  height: 27rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.about-big__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.about-big__p {
  width: 100%;
  text-align: center;
  padding: 0 4.8rem;
  color: #696969;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4rem; /* 140% */
}

@media (max-width: 768px) {
  .statistic {
    margin: 3rem 0;
  }
  .statistic__wrapper {
    grid-template-columns: 1fr 1fr;
    row-gap: 2.3rem;
  }
  .statistic-item:nth-child(2)::after {
    display: none;
  }
  .about-big {
    margin: 4rem 0;
  }
  .about-big__wrapper {
    gap: 1.8rem;
  }
  .about-big__p {
    padding: 0;
  }
}
.projects-catalog {
  padding: 2rem 0;
}
.projects-catalog .mobile-field {
  margin-top: 1rem;
  display: none;
}
.projects-catalog .mobile-field button {
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.projects-catalog__wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 18rem 1fr;
  gap: 1.5rem;
}
.projects-catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .projects-catalog .mobile-field {
    display: flex;
  }
  .projects-catalog__wrapper {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .projects-catalog__filter {
    display: none;
  }
  .projects-catalog__list {
    grid-template-columns: 1fr;
  }
}
.product-single {
  padding: 2rem 0 0 0;
}
.product-single__wrapper {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.5rem;
  min-height: 30rem;
}
.product-single__show {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
}
.product-single__show .swiper {
  padding: 0;
  width: 100%;
  height: 100%;
}
.product-single__show .swiper .swiper-slide-thumb,
.product-single__show .swiper .swiper-slide-visible {
  opacity: 1 !important;
}
.product-single__show .swiper .swiper-slide-thumb-active {
  border: 2px solid var(--color-primary);
}
.product-single__show .swiper-slide {
  border: 1px solid transparent;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-single__show .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-single__show .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.product-single__show .swiper-slide {
  background-size: cover;
  background-position: center;
}
.product-single__show .mySwiper2 {
  height: 30rem;
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 0.75rem;
}
.product-single__show .mySwiper2 .swiper-wrapper {
  height: 100%;
}
.product-single__show .mySwiper2 .swiper-slide {
  height: 100%;
}
.product-single__show .mySwiper2 .swiper-slide img {
  height: 100%;
  object-fit: cover;
}
.product-single__show .mySwiper {
  height: fit-content;
  box-sizing: border-box;
  opacity: 1;
}
.product-single__show .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 1rem;
  overflow: hidden;
}
.product-single__show .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.product-single__show .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-single__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
  flex-direction: column;
  align-items: flex-start;
}
.product-single__info_top h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 130%;
}
.product-single__info_top p {
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem; /* 140% */
}
.product-single__info_top .project-color {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product-single__info_top .project-color li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product-single__info_top .size {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 2rem;
}
.product-single__info_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product-single__info_bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product-single__info_bottom div p {
  font-size: 1.2rem;
  font-weight: 400;
}
.product-single__info_bottom div .price {
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .product-single {
    padding: 0;
  }
  .product-single__wrapper {
    grid-template-columns: 100%;
  }
  .product-single__show .mySwiper2 {
    height: 18rem;
  }
  .product-single__info {
    height: fit-content;
  }
  .product-single__info_top .project-color {
    flex-direction: column;
    align-items: flex-start;
  }
  .product-single__info_bottom {
    margin-top: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .product-single__info_bottom button {
    width: 100%;
  }
}
.news {
  margin-top: 5rem;
}
.news__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 2rem;
  gap: 1.5rem;
}

.news-single {
  margin: 10rem 0 8rem 0;
}
.news-single__wrapper {
  display: grid;
  grid-template-columns: 48.8rem 1fr;
  gap: 2.3rem;
  position: relative;
}
.news-single__wrapper .logo-bg {
  z-index: -1;
  height: 70%;
  transform: translate(-50%, -35%);
}
.news-single__info__img {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 20rem;
  max-width: 100%;
  position: relative;
}
.news-single__info__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news-single__info h3 {
  margin-top: 3rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 3rem; /* 176.471% */
}
.news-single__info h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2rem;
}
.news-single__info p {
  margin-top: 2.2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem; /* 160% */
}
.news-single__recommended h2 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 3rem; /* 176.471% */
  margin-bottom: 1.4rem;
}
.news-single__recommended h2 span {
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  margin-right: 1rem;
}
.news-single__recommended .mini-cards__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.news-single__recommended .mini-cards__wrapper_mobile {
  display: none;
}

@media (max-width: 768px) {
  .news {
    margin-top: 4rem;
  }
  .news__wrapper {
    grid-template-columns: 1fr;
  }
  .news-single {
    margin: 6rem 0 2rem 0;
  }
  .news-single .container {
    overflow: hidden;
  }
  .news-single__wrapper {
    grid-template-columns: 100%;
  }
  .news-single__wrapper .logo-bg {
    display: none;
  }
  .news-single__info h3 {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 100%; /* 176.471% */
  }
  .news-single__info h4 {
    font-size: 1.1rem;
    margin-top: 2rem;
    font-weight: 500;
  }
  .news-single__info p {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 110%; /* 160% */
  }
  .news-single__recommended .mini-cards__wrapper {
    display: none;
  }
  .news-single__recommended .mini-cards__wrapper_mobile {
    display: block;
  }
  .news-single__recommended .mini-cards__wrapper_mobile .swiper {
    overflow: visible;
  }
  .news-single__recommended .mini-cards__wrapper_mobile .carousel__controls {
    margin-top: 1.1rem;
  }
  .news-single__recommended .mini-cards__wrapper_mobile .news-card_mini {
    height: 11.55rem;
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
