// COLORS
:root {
  --color-primary: #0c3a5e; //

  --color-secondary: #efdfbe;
  --color-primary-black: #151614;
  --color-primary-dark: #292929;

  --color-white: #fff;

  --color-yellow: #f0c608;

  --color-gray: #8c8c8c;
  --color-gray-p: #7f7f7f;

  --color-bg: rgba(35, 52, 98, 0.1);
}
