.footer {
  margin-top: 5rem;
  overflow: hidden;
  color: var(--color-white);

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  &__logo {
    height: 2rem;
  }

  &__address {
    h4 {
      color: var(--color-yellow);
      margin-bottom: 0.75rem;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__link {
      font-size: 400;
      transition: all 0.3s;

      &.active {
        color: var(--color-yellow);
      }

      &:hover {
        color: var(--color-yellow);
      }
    }
  }

  &__left {
    padding: 2.5rem;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;

    &__wrapper {
      display: grid;
      grid-template-columns: 2fr 3fr 3fr;
      margin-top: 2.5rem;
    }

    &__bottom {
      @include spaced;

      .up {
        @include center;
        gap: 0.75rem;

        a {
          height: 2.4rem;
          width: 2.4rem;
          border-radius: 50%;
          position: relative;
          background-color: var(--color-yellow);

          i {
            @include absCenter;
            font-size: 0.7rem;
            line-height: 100%;
          }
        }

        span {
          font-size: 0.8rem;
          font-weight: 200;
        }
      }
    }
  }

  &__right {
    height: 100%;
    position: relative;
    overflow: hidden;

    & > div {
      height: 100%;
    }

    iframe {
      height: 100%;
      width: 100%;
    }
  }

  &__bottom {
    @include spaced;
    color: #000;
    padding: 1.5rem 0;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: 4rem;
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    &__logo {
      height: 4rem;
    }

    &__left {
      padding: 1.5rem;

      &__bottom {
        margin-top: 1rem;
      }
    }

    &__right {
      height: 24rem;
    }
  }
}

@media (max-width: 540px) {
  .footer {
    &__left {
      &__wrapper {
        grid-template-columns: 1fr;
      }
    }
  }
}
