.btn {
  border-radius: 2.5rem;
  transition: all 0.3s;
  padding: 0.75rem 3rem;
  &_primary {
    font-family: Gilroy;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);

    &:hover {
      background-color: transparent;
      color: var(--color-primary);
    }
  }

  &_line {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  &_blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  &_mobile-nav {
    background-color: var(--color-white);
    color: var(--color-primary);
    font-size: 1.2rem;
    padding: 1.2rem 0;
    font-weight: 500;
    width: 100%;
  }

  &_yellow {
    background-color: var(--color-yellow);
    color: var(--color-white);
    border: 1px solid var(--color-yellow);

    &:hover {
      background-color: transparent;
      border-color: var(--color-yellow);
      color: var(--color-yellow);
    }
  }

  &_100 {
    padding: 0.75rem 0;
  }

  &_yellow-carousel {
    border-radius: 50%;
    border: 1px solid var(--color-yellow);

    i {
      color: var(--color-yellow);
    }

    &:hover {
      background-color: var(--color-yellow);

      i {
        color: var(--color-white);
      }
    }
  }
}
