.carousel {
  &__products {
    position: relative;
    height: fit-content;
    margin-top: 2rem;

    .carousel__controls {
      display: none;
      justify-content: center;
      gap: 1rem;
      padding-top: 3rem;
      padding-bottom: 1rem;
    }
  }

  &__news {
    position: relative;
    height: fit-content;

    .carousel__controls {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      padding-top: 1.5rem;
    }
  }

  &__controls {
    // height: 6rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom: 0.5rem;
    right: 0;
    z-index: 2;

    button {
      height: 3rem;
      width: 3rem;
      @include center;

      i {
        font-size: 0.7rem;
        line-height: 100%;
      }
    }
  }

  // ______________________
}

@media (max-width: 768px) {
  .carousel {
    &__products {
      .carousel__controls {
        display: flex;
      }
    }

    &__news {
      .carousel__controls {
        justify-content: center;
      }
    }
  }
}
