.statistic {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 2.5rem;

  &-item {
    // background-color: yellow;
    // width: 25%;
    display: flex;
    flex-direction: column;
    gap: 0;
    h2 {
      font-family: "Chiq Pro";
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 100%;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 1rem;
    }
  }
}

.logo-bg {
  position: absolute;
  height: 100%;
  top: 45%;
  left: 51%;
  transform: translate(-50%, -50%);

  &.about-logo-bg {
    height: auto;
    width: 90%;
  }
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  a {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--color-white);
    @include center;
    transition: all 0.3s;

    i {
      transition: all 0.3s;
      font-size: 1.2rem;
    }

    &:hover {
      i {
        color: var(--color-primary);
      }
    }
  }
}

.corner-call-btn {
  position: fixed;
  z-index: 20;
  height: 3.7rem;
  width: 3.7rem;
  background: linear-gradient(180deg, #ff8101 0%, #ffd976 100%);
  border-radius: 50%;
  right: 2.25rem;
  bottom: 4.85rem;
  transition: all 0.3s;

  img {
    height: 55%;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.border-r30 {
  border-radius: 1.5rem;
}

.with-shape {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90vw;
    @include absCenterY;
    right: -5rem;
    background-color: var(--color-secondary);
    border-radius: 0 1.5rem 1.5rem 0;
  }
}

.with-shape_right {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90vw;
    @include absCenterY;
    left: 30%;
    background-color: var(--color-secondary);
    border-radius: 1.5rem 0 0 1.5rem;
  }
}

.with-shape_left {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90vw;
    @include absCenterY;
    right: 30%;
    background-color: var(--color-secondary);
    border-radius: 0 1.5rem 1.5rem 0;
  }
}

.cubic-img {
  position: absolute;
  // background-color: red;
  height: 96rem;
  z-index: -4;
}

@media (max-width: 768px) {
  .statistic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    margin-top: 1rem;
    &-item {
      // background-color: yellow;
      width: 50%;
      h2 {
        font-family: "Chiq Pro";
        font-size: 2rem;
        font-weight: 400;
        line-height: 100%;
      }

      p {
        font-size: 0.8rem;
        font-weight: 400;
      }
    }
  }

  .corner-call-btn {
    height: 3rem;
    width: 3rem;
    right: 1.5rem;
    bottom: 1.5rem;
  }

  .with-shape {
    &::before {
      height: 120%;
      width: 100vw;
      @include absCenterX;
      top: 0;
      border-radius: 0 0 1.5rem 1.5rem;
    }
  }

  .with-shape_right,
  .with-shape_left {
    &::before {
      height: 70%;
      width: 100vw;
      @include absCenterX;
      top: 0;
      border-radius: 0 0 1.5rem 1.5rem;
    }
  }
}
