.news-card {
  height: 21rem !important;

  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--color-white);
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s;

  &__img {
    height: 12.25rem;
    position: relative;
    overflow: hidden;
    img {
      @include fullImg;
      transition: all 0.3s;
    }
  }

  &__info {
    padding: 1rem 1rem 2.5rem 1rem;
    @include spaced;
    flex-direction: column;
    align-items: flex-start;

    p {
      color: #bbb;
      font-weight: 400;
    }

    h4 {
      font-weight: 600;
      line-height: 130%; /* 23.4px */
    }
  }

  &:hover {
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.1);
    .news-card__img {
      position: relative;
      img {
        transform: scale(1.1);
      }
    }
  }
}

.news-card_mini {
  height: 11.55rem;
  background-color: var(--color-white);
  padding: 1.5rem;
  @include spaced;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;

  p {
    color: #ababab;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h3 {
    font-size: 1rem;
    // width: 80%;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
  }

  a {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    @include center;
    transition: all 0.3s;

    i {
      font-size: 0.8rem;
    }

    &:hover {
      background-color: var(--color-primary);
      i {
        color: var(--color-white);
      }
    }
  }
}
