.order-form {
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: relative;

  &::after {
    content: "";
    @include absCenterX;
    top: 1px;
    position: absolute;
    width: 1px;
    height: 7.3rem;
    background: linear-gradient(#cfe8b1 0%, #fff 44.5%, #cfe8b1 100%);
  }

  &_head {
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    input {
      &[type="radio"] {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--color-white);
        outline: none;
      }
      &[type="radio"]:hover {
        box-shadow: 0 0 5px 0px black inset;
      }
      &[type="radio"]:before {
        content: "";
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
      }
      &[type="radio"]:checked:before {
        background: #000;
      }
    }
    label {
      color: #1a202c;
      font-family: "Plus Jakarta Sans";
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 30px */
      letter-spacing: -0.4px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
  }

  &__item {
    font-family: "Euclid Square";
    font-size: 0.7rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;

    .item-input {
      font-family: "Euclid Square";
      font-size: 0.8rem;
      font-weight: 400;
      margin-top: 0.3rem;
      padding: 1rem 0.75rem;
      border: none;
      border-radius: 0.5rem;
      outline: none;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==");
      background-size: 0.7rem;
      background-repeat: no-repeat;
      background-position: right 0.7rem center;
      -webkit-appearance: none;
      -moz-appearance: none;

      &::-ms-expand {
        display: none;
      }
    }
  }

  &_data {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.75rem;

    input {
      margin-top: 0.3rem;
      font-family: "Euclid Square";
      font-size: 0.8rem;
      font-weight: 400;
      height: 3rem;
      padding: 1rem 0.75rem;
      border: none;
      border-radius: 0.5rem;
      outline: none;
    }
    button {
      height: 3rem;
      align-self: last baseline;
      font-family: Gilroy;
      font-size: 0.9rem;
      font-weight: 400;
    }
  }
}

@media (max-width: 768px) {
  .order-form {
    grid-template-columns: 1fr;
    gap: 1.5rem;

    &::after {
      display: none;
    }

    &_head {
      margin-bottom: 1rem;
    }

    &__items {
      grid-template-columns: 1fr;
      gap: 0.75rem;
    }

    &__item {
      gap: 0.2rem;
    }

    &_data {
      grid-column: 1;
      grid-template-columns: 1fr;
      button {
        margin-top: 1rem;
      }
    }
  }
}
