.pagination {
  @include center;
  margin-top: 3rem;
  gap: 0.75rem;

  a {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    @include center;
    background-color: #f7f7f7;
    transition: all 0.3s;

    i {
      font-size: 0.5rem;
      color: var(--color-primary);
    }

    &.active {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);

      i {
        color: var(--color-white);
      }
    }
  }
}

@media (max-width: 768px) {
  .pagination {
    gap: 0.5rem;

    a {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
