.grid {
  margin-top: 0.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;

  .block {
    height: 6.5rem;
    @include center;
    color: black;
    font-size: 2rem;
    position: relative;
    @include center;
    border: 1px solid #e2e2e2;
    transition: all 0.3s;
    img {
      position: absolute;
      max-height: 60%;
      max-width: 70%;
    }

    &-7,
    &-8,
    &-9,
    &-10,
    &-11 {
      grid-row: 2 / span 1;
      border-top: none;
    }

    &-12,
    &-13,
    &-14,
    &-15 {
      grid-row: 3 / span 1;
      border-top: none;
    }

    &-1,
    &-7,
    &-12 {
      border-left: none;
    }

    &-6,
    &-11,
    &-15 {
      border-right: none;
    }

    &-1 {
      grid-column: 1 / span 2;
    }

    &-2,
    &-12 {
      grid-column: 3 / span 2;
    }

    &-3,
    &-13 {
      grid-column: 5 / span 2;
    }

    &-4,
    &-14 {
      grid-column: 7 / span 2;
    }

    &-5,
    &-15 {
      grid-column: 9 / span 2;
    }

    &-6 {
      grid-column: 11 / span 2;
    }

    &-7 {
      grid-column: 2 / span 2;
    }

    &-8 {
      grid-column: 4 / span 2;
    }

    &-9 {
      grid-column: 6 / span 2;
    }

    &-10 {
      grid-column: 8 / span 2;
    }

    &-11 {
      grid-column: 10 / span 2;
    }
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: auto auto;
    grid-template-rows: none;
    border-top: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;

    .block {
      border: none;

      &:nth-child(2n + 1) {
        grid-column: 1 / span 1;
        grid-row: auto;
        border-right: 2px solid #e2e2e2;
      }

      &:not(&:nth-child(1), &:nth-child(2)) {
        border-top: 2px solid #e2e2e2;
      }

      &:nth-child(2n) {
        grid-row: auto;
        grid-column: 2 / span 1;
      }
    }
  }
}
