// Tenor
@font-face {
  font-family: "TT Firs Neue";
  src: url("../../css/fonts/TT-first/TT\ Firs\ Neue\ Trial\ Regular.ttf");
}

// Euclid Square

@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-Bold.eot");
  src: local("Euclid Square Bold"), local("EuclidSquare-Bold"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Bold.woff2") format("woff2"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Bold.woff") format("woff"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-Regular.eot");
  src: local("Euclid Square Regular"), local("EuclidSquare-Regular"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Regular.woff2") format("woff2"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Regular.woff") format("woff"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBold.eot");
  src: local("Euclid Square SemiBold"), local("EuclidSquare-SemiBold"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBold.woff2") format("woff2"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBold.woff") format("woff"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-LightItalic.eot");
  src: local("Euclid Square Light Italic"), local("EuclidSquare-LightItalic"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-LightItalic.woff2") format("woff2"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-LightItalic.woff") format("woff"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-MediumItalic.eot");
  src: local("Euclid Square Medium Italic"), local("EuclidSquare-MediumItalic"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-MediumItalic.woff2") format("woff2"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-MediumItalic.woff") format("woff"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-Medium.eot");
  src: local("Euclid Square Medium"), local("EuclidSquare-Medium"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Medium.woff2") format("woff2"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Medium.woff") format("woff"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-Italic.eot");
  src: local("Euclid Square Italic"), local("EuclidSquare-Italic"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Italic.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Italic.woff2") format("woff2"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Italic.woff") format("woff"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-Light.eot");
  src: local("Euclid Square Light"), local("EuclidSquare-Light"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Light.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Light.woff2") format("woff2"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Light.woff") format("woff"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBoldItalic.eot");
  src: local("Euclid Square SemiBold Italic"), local("EuclidSquare-SemiBoldItalic"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBoldItalic.woff2") format("woff2"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBoldItalic.woff") format("woff"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Square";
  src: url("../../css/fonts/Euclid-Square/EuclidSquare-BoldItalic.eot");
  src: local("Euclid Square Bold Italic"), local("EuclidSquare-BoldItalic"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-BoldItalic.woff2") format("woff2"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-BoldItalic.woff") format("woff"),
    url("../../css/fonts/Euclid-Square/EuclidSquare-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

//  Gilroy

@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Chiq Pro
@font-face {
  font-family: "Chiq Pro";
  src: url("../../css/fonts/Chiq-Pro/");
  src: local("Chiq Pro"), local("ChiqPro"),
    url("../../css/fonts/Chiq-Pro/ChiqPro.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Chiq-Pro/ChiqPro.woff2") format("woff2"),
    url("../../css/fonts/Chiq-Pro/ChiqPro.woff") format("woff"),
    url("../../css/fonts/Chiq-Pro/ChiqPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chiq Pro";
  src: url("../../css/fonts/Chiq-Pro/ChiqPro-BoldItalic.eot");
  src: local("Chiq Pro Bold Italic"), local("ChiqPro-BoldItalic"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-BoldItalic.woff2") format("woff2"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-BoldItalic.woff") format("woff"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Chiq Pro";
  src: url("../../css/fonts/Chiq-Pro/ChiqPro-BlackItalic.eot");
  src: local("Chiq Pro Black Italic"), local("ChiqPro-BlackItalic"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-BlackItalic.woff2") format("woff2"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-BlackItalic.woff") format("woff"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Chiq Pro";
  src: url("../../css/fonts/Chiq-Pro/ChiqPro-Light.eot");
  src: local("Chiq Pro Light"), local("ChiqPro-Light"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Light.woff2") format("woff2"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Light.woff") format("woff"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Chiq Pro";
  src: url("../../css/fonts/Chiq-Pro/ChiqPro-Italic.eot");
  src: local("Chiq Pro Italic"), local("ChiqPro-Italic"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Italic.woff2") format("woff2"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Italic.woff") format("woff"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Chiq Pro";
  src: url("../../css/fonts/Chiq-Pro/ChiqPro-Black.eot");
  src: local("Chiq Pro Black"), local("ChiqPro-Black"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Black.woff2") format("woff2"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Black.woff") format("woff"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Chiq Pro";
  src: url("../../css/fonts/Chiq-Pro/ChiqPro-Bold.eot");
  src: local("Chiq Pro Bold"), local("ChiqPro-Bold"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Bold.woff2") format("woff2"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Bold.woff") format("woff"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Chiq Pro";
  src: url("../../css/fonts/Chiq-Pro/ChiqPro-LightItalic.eot");
  src: local("Chiq Pro Light Italic"), local("ChiqPro-LightItalic"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-LightItalic.woff2") format("woff2"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-LightItalic.woff") format("woff"),
    url("../../css/fonts/Chiq-Pro/ChiqPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
