.text {
  &_sm {
    font-size: 0.7rem;
    color: var(--color-gray);
  }
}

.font {
  &_semibold {
    font-weight: 600;
  }

  &_medium {
    font-weight: 500;
  }

  &_normal {
    font-weight: 400;
  }

  &_light {
    font-weight: 300;
  }
}

.section__title {
  // color: #2a2a2a;
  color: var(--color-primary);
  font-family: "TT Firs Neue";
  font-size: 1.8rem;
  font-weight: 600;
}

.section__title_big {
  color: var(--color-primary);
  font-size: 3.6rem;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .section__title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
