.head {
  margin-top: 8rem;

  &__wrapper {
    height: 32.5rem;
    border-radius: 1.5rem;
    overflow: hidden;

    .swiper {
      height: 100%;
    }
  }

  .swiper-pagination-bullet {
    background-color: #eaeaea;
    opacity: 0.2;
    &-active {
      opacity: 1;
      background-color: var(--color-white);
    }
  }

  &__item {
    position: relative;
    &_info {
      height: 100%;
      padding: 8.3rem 30rem 8.3rem 5rem;
      color: var(--color-white);
      h2 {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 133.333% */
      }
      p {
        margin-top: 1.5rem;
        color: #fff;
        font-weight: 400;
        line-height: 150%; /* 27px */
        width: 80%;
      }

      .btn_primary:hover {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(15px);
        border-color: transparent;
        color: var(--color-white);
      }
    }

    &_bg {
      @include fullImg;
      @include absCenter;
      z-index: -1;
      img {
        @include fullImg;
      }
    }
  }

  &__buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.5rem;
  }

  &_bg {
    @include absCenterX;
    // background-color: red;
    z-index: -1;
    top: 0;
    width: 100%;
  }
}

.advantages {
  margin-top: 5rem;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &__item {
    height: 6.8rem;
    @include center;
    flex-direction: column;
    gap: 1.25rem;

    // padding: 1.7rem;
    img {
      width: 4rem;
      aspect-ratio: 1/1;
    }

    p {
      text-align: center;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 150%; /* 33px */
      width: 70%;
    }

    &:not(&:last-child) {
      border-right: 1px solid var(--color-primary);
    }
  }
}

.categories {
  margin-top: 6rem;

  &__wrapper {
    margin-top: 2.5rem;
    @include spaced;
    gap: 1.5rem;
  }

  .category-item {
    height: 13rem;
    background-color: var(--color-white);
    width: 33%;
    border-radius: 1rem;
    padding: 2rem;
    @include spaced;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;

    h3 {
      font-size: 1.2rem;
      font-weight: 500;
    }

    p {
      margin-top: 0.75rem;
      color: var(--color-gray);
      font-weight: 400;
    }

    a {
      color: var(--color-gray);
      @include center;
      gap: 0.75rem;

      i {
        font-size: 0.8rem;
        color: var(--color-primary);
      }

      &:hover {
        color: var(--color-yellow);

        i {
          color: var(--color-yellow);
        }
      }
    }

    img {
      position: absolute;
      height: 60%;
      bottom: 0;
      right: 0;
    }

    &:hover {
      background-color: var(--color-primary);

      h3 {
        color: var(--color-white);
      }

      a {
        i {
          color: var(--color-gray);
        }
      }
    }
  }
}

.popular {
  margin-top: 5rem;

  &__wrapper {
    margin-top: 1rem;
  }
}

.new-items {
  margin-top: 5rem;

  &__wrapper {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }

  &__item {
    height: 16.9rem;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;

    &:hover {
      .new-items__item_image {
        img {
          transform: scale(1.1);
        }
      }
    }

    &:nth-child(4) {
      grid-column: 1 / span 2;
    }

    &_info {
      @include fullImg;
      position: relative;
      z-index: 1;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      color: var(--color-white);
      padding: 1.5rem 1.75rem;

      h4 {
        font-size: 1.4rem;
        font-weight: 500;
      }

      p {
        margin-top: 0.75rem;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }

    &_image {
      position: absolute;
      @include fullImg;
      @include absCenter;
      img {
        @include fullImg;
        transition: all 0.3s;
      }
    }
  }
}

.products {
  margin-top: 5rem;
  &__wrapper {
    margin-top: 1.5rem;
  }
  .show-more__wrapper {
    margin-top: 3rem;
    text-align: center;
  }
}

.catalog {
  margin-top: 7rem;
  color: var(--color-white);
  &__wrapper {
    background-color: var(--color-primary);
    padding: 2.25rem 2.25rem 3rem 2.25rem;
    border-radius: 1.5rem;
    display: flex;
    position: relative;
  }

  &__form {
    position: relative;
    width: 60%;
    z-index: 1;
    h3 {
      font-size: 1.7rem;
      font-weight: 500;
    }

    form {
      margin-top: 2.25rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;

      input,
      button {
        height: 3rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 160.2%;
      }

      input {
        padding: 0 1.5rem;
        background-color: transparent;
        border-radius: 2.5rem;
        border: 1px solid #3b719b;
        outline: none;
        color: var(--color-white);

        &:focus {
          border-color: var(--color-yellow);
        }
      }
      p {
        margin-top: 1.2rem;
        color: rgba(255, 255, 255, 0.45);
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 160.2%; /* 22.428px */
        grid-column: 1 / span 3;
      }
    }
  }

  &__image {
    position: absolute;
    height: 130%;
    right: -2rem;
    bottom: -1rem;
    img {
      height: 100%;
    }
  }
}

.about-us {
  margin-top: 5rem;

  &__wrapper {
    @include spaced;
    gap: 1.5rem;
    margin-bottom: 5rem;

    &:nth-child(2) {
      flex-direction: row-reverse;

      .about-us__info {
        padding: 0 0 0 2.5rem;
      }
    }
  }

  &__info {
    width: 50%;
    padding: 0 2.5rem 0 0;

    h5 {
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 150%; /* 33px */
      margin-bottom: 0.75rem;
    }
    p {
      color: var(--color-gray-p);
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.4rem; /* 140% */
      margin: 1.5rem 0 2.25rem 0;
    }
  }

  &__img {
    width: 50%;
    height: 25.75rem;
    position: relative;
    // background-color: blue;
    img {
      position: absolute;
      @include fullImg; // display: none;
    }
  }

  &__buttons {
    display: flex;
    gap: 1.5rem;

    button {
      padding: 1rem 3rem;
      font-size: 0.9rem;
    }
  }
}

.news-section {
  margin-top: 5rem;

  &__wrapper {
    padding-top: 1rem;
  }
}

.partners {
  margin-top: 3rem;

  &__wrapper {
    margin-top: 3rem;
  }

  &__item {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    @include center;
    transition: all 0.3s;

    img {
      max-width: 80%;
      max-height: 98%;
    }

    &:hover {
      background-color: var(--color-primary);
    }
  }
}

.section-navigator {
  margin-top: 8rem;
}

//__###################################################################################___________________________________________________________________________

@media (max-width: 768px) {
  .head {
    margin-top: 6rem;
    &__wrapper {
      height: 35.2rem;
    }

    &__item {
      &_info {
        padding: 1rem 1rem 5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h2 {
          font-size: 1.5rem;
        }
        p {
          font-size: 0.8rem;
          margin-top: 1rem;
          width: 85%;
        }
      }
    }

    &__buttons {
      gap: 1rem;

      button {
        width: 50%;
        padding: 0.8rem 0;
      }
    }

    &_bg {
      //________________________________________
      @include absCenterX;
      // background-color: red;
      z-index: -1;
      bottom: 0;
      width: 100%;
    }
  }

  .advantages {
    margin-top: 4rem;
    &__wrapper {
      grid-template-columns: 1fr 1fr;
      row-gap: 4rem;
    }

    &__item {
      p {
        font-size: 0.9rem;
        max-width: 80%;
        width: 100%;
      }

      &:not(&:last-child) {
        border-right: none;
      }
      &:nth-child(2n) {
        border-left: 1px solid var(--color-primary);
      }
    }
  }

  .categories {
    margin-top: 4rem;

    &__wrapper {
      margin-top: 2rem;
      flex-direction: column;
    }

    .category-item {
      width: 100%;
      padding: 1.5rem;
    }
  }

  .popular {
    overflow: hidden;

    &__wrapper {
      .swiper {
        overflow: visible;
      }
    }
  }

  .new-items {
    margin-top: 3rem;

    &__wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    &__item {
      height: 12rem;

      &:nth-child(1) {
        grid-column: 1 / span 2;
      }
      &:nth-child(4) {
        grid-column: 1 / span 1;
      }

      &_info {
        padding: 0.75rem;

        h4 {
          font-size: 1.1rem;
        }
      }
    }
  }

  .catalog {
    margin-top: 3rem;
    &__wrapper {
      padding: 1.5rem;
      flex-direction: column;
      gap: 2.5rem;
    }

    &__form {
      width: 100%;
      h3 {
        font-size: 1.5rem;
      }

      form {
        grid-template-columns: 1fr;

        p {
          grid-column: 1 / span 1;
          grid-row: 3 / span 1;
        }
      }
    }

    &__image {
      position: static;
      width: 100%;
      img {
        width: 100%;
        transform: scale(1.15);
      }
    }
  }

  .about-us {
    margin-top: 3rem;

    &__wrapper {
      flex-direction: column;
      margin-bottom: 2.5rem;
      .about-us__info {
        padding: 0;
      }

      &:nth-child(2) {
        flex-direction: column;

        .about-us__info {
          padding: 0;
        }
      }
    }

    &__info {
      width: 100%;

      h5 {
        margin-bottom: 0.5rem;
      }
    }

    &__img {
      height: 25rem;
      width: 100%;
    }

    &__buttons {
      width: 100%;
      gap: 1rem;

      button {
        width: 50%;
      }
    }
  }

  .news-section {
    margin-top: 4rem;
    overflow: hidden;

    &__wrapper {
      .swiper {
        overflow: visible;
      }
    }
  }

  .section-navigator {
    margin-top: 6rem;
  }

  //_#######################################################################################################_______________________
}
