.services-page {
  margin-top: 9rem;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;

    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .services-page {
    margin-top: 8rem;

    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}
